[mysqld]
user=mysql						# Run as mysql user
port=3306						# Default MariaDB port
bind-address=0.0.0.0			# Allow remote connections (e.g. from WP container)
skip-networking=0				# Enable networking
socket=/run/mysqld/mysqld.sock  # Explicit socket path
